/*DEFINICION DE VARIABLES*/
:root{
    --color-principal: #FFFFFF;
    --color-segundary: #07b3df;
    --color-background: #F2F7F9;
    --color_transparent:  transparent;
    
    --color-icon: #B5B6B7;
    --color-subtitule: #888;
    --color-title: #222222;
    --color-text:#555;

}

.info__general{

    display: flex !important;/*para organizar el contendio de dentro con flexibilidad*/
    flex-direction: column; /*para tener los flex en columna*/
    align-items: center; /*verticalmente al centel*/
    justify-content: center;/*horizonralmente al centro*/
    
    
}

.page__name{
    font-size: 6rem;
    margin-bottom: 1rem;

}

.page__job{
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color-subtitule);
    justify-content: center;
}
