<div class="content__about">
    <header class="about__header">
        <h1 class="about__title"> Sobre <span class="title__color">Mi</span></h1>
    </header>
    <section class="about__personal-info">
        <article class="personal-info__bio">
            <p class="personal-info__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A temporibus sit dolore beatae pariatur? Earum
                quisquam inventore error suscipit ratione dolor quia, quibusdam numquam nihil corporis molestiae
                repudiandae accusantium nulla?
            </p>
        </article>
        <div class="personal-info__data">
            <ul class="personal-info__list">
                <li>
                    <span class="personal-info__title">Edad</span>
                    <span class="personal-info__value">28</span>
                </li>
                <li>
                    <span class="personal-info__title">Pais</span>
                    <span class="personal-info__value"> México</span>
                </li>
                <li>
                    <span class="personal-info__title">Grado</span>
                    <span class="personal-info__value">Ingeniero</span>
                </li>
                <li>
                    <span class="personal-info__title">Correo</span>
                    <span class="personal-info__value">gecoaguirre@hotmail.com</span>
                </li>
                <li>
                    <span class="personal-info__title">Celular</span>
                    <span class="personal-info__value">2211011531</span>
                </li>
            </ul>
        </div>
    </section>
    <section class="about__services">
        <header class="services__header">
            <h2 class="services__title">
                Lo que <span class="title__color"> hago</span>
            </h2>
        </header>
        <div class="services__container">
            <article class="services__service">
                <div class="service__icon">
                    <i class="fa-solid fa-code"></i>
                </div>
                <div class="service__content">
                    <h3 class="service__title">
                        Programación
                    </h3>
                    <p class="service__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, qui? Incidunt adipisci
                        possimus officiis, veritatis dolor voluptatem aspernatur saepe facilis omnis enim est nesciunt
                        et eveniet commodi quam. Nemo, sapiente?
                    </p>
                </div>
            </article>
            <article class="services__service">
                <div class="service__icon">
                    <i class="fa-solid fa-chalkboard-user"></i>
                </div>
                <div class="service__content">
                    <h3 class="service__title">
                        Formación
                    </h3>
                    <p class="service__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, qui? Incidunt adipisci
                        possimus officiis, veritatis dolor voluptatem aspernatur saepe facilis omnis enim est nesciunt
                        et eveniet commodi quam. Nemo, sapiente?
                    </p>
                </div>
            </article>
            <article class="services__service">
                <div class="service__icon">
                    <i class="fa-solid fa-computer"></i>
                </div>
                <div class="service__content">
                    <h3 class="service__title">
                        Desarrollo Web
                    </h3>
                    <p class="service__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, qui? Incidunt adipisci
                        possimus officiis, veritatis dolor voluptatem aspernatur saepe facilis omnis enim est nesciunt
                        et eveniet commodi quam. Nemo, sapiente?
                    </p>
                </div>
            </article>
            <article class="services__service">
                <div class="service__icon">
                    <i class="fa-solid fa-terminal"></i>
                </div>
                <div class="service__content">
                    <h3 class="service__title">
                        Administración
                    </h3>
                    <p class="service__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, qui? Incidunt adipisci
                        possimus officiis, veritatis dolor voluptatem aspernatur saepe facilis omnis enim est nesciunt
                        et eveniet commodi quam. Nemo, sapiente?
                    </p>
                </div>
            </article>
        </div>
    </section>
    <section class="about__reviews">
        <header class="reviews__header">
            <h2 class="reviews__title">Reseñas</h2>
        </header>
        <div class="reviews__container">
            <article class="reviews__review">
                <div class="review__image-container">
                    <img src="/assets/img/testimonio1.jpg" class="review__image" alt="Cara de un cliente">
                </div>
                <div class="review__description">
                    <p class="review__text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda similique reprehenderit vel
                        hic sunt possimus alias ea, corporis illum. Vel blanditiis amet eligendi minima enim
                        necessitatibus beatae eaque ea molestias?
                    </p>
                </div>

                <div class="review__autor">
                    <div class="review__autor-info">
                        <h3 class="review__name">Ana Lopez</h3>
                        <h5 class="review__company">Developers S.A</h5>
                    </div>
                    <div class="review__autor-icon">
                        <i class="review__icon fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </article>

            <article class="reviews__review">
                <div class="review__image-container">
                    <img src="/assets/img/testimonio2.jpg" class="review__image" alt="Cara de un cliente">
                </div>
                <div class="review__description">
                    <p class="review__text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda similique reprehenderit vel
                        hic sunt possimus alias ea, corporis illum. Vel blanditiis amet eligendi minima enim
                        necessitatibus beatae eaque ea molestias?
                    </p>
                </div>

                <div class="review__autor">
                    <div class="review__autor-info">
                        <h3 class="review__name">Ruben Martinez</h3>
                        <h5 class="review__company">Full Stack S.A</h5>
                    </div>
                    <div class="review__autor-icon">
                        <i class="review__icon fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="about__clients">
        <header class="clients__header">
            <h2 class="clients__title">Clientes</h2>
        </header>

        <div class="clients_container">
            <article class="clients__item">
                <a href="# " class="clients__link">
                    <img src="/assets/img/cliente-1.png" class="clients__image" alt="logo cliente">
                </a>
            </article>
            <article class="clients__item">
                <a href="# " class="clients__link">
                    <img src="/assets/img/cliente-2.png" class="clients__image" alt="logo cliente">
                </a>
            </article>
            <article class="clients__item">
                <a href="# " class="clients__link">
                    <img src="/assets/img/cliente-3.png" class="clients__image" alt="logo cliente">
                </a>
            </article>
            <article class="clients__item">
                <a href="# " class="clients__link">
                    <img src="/assets/img/cliente-4.png" class="clients__image" alt="logo cliente">
                </a>
            </article>
            <article class="clients__item">
                <a href="# " class="clients__link">
                    <img src="/assets/img/cliente-5.png" class="clients__image" alt="logo cliente">
                </a>
            </article>
        </div>
    </section>
    <section class="about_prices">
        <header class="prices__header">
            <h2 class="prices__title">Precios</h2>
        </header>

        <div class="prices__container">
            <article class="prices__box">
                <div class="pricess__subtitle">
                    <span class="prices__text">Normal</span>
                </div>
                <div class="prices__price">
                    <span class="prices__number">$20</span>
                    <small class="prices__advice">Al mes</small>
                </div>
                <div class="prices__buy">
                    <a href="#" class="prices__btn">
                        prueba gratos
                    </a>
                </div>
                <div class="prices__reward">
                    Un curso de desarrollo web
                </div>
                <div class="prices__reward">
                    Soporte a pregutnas y dudas
                </div>
                <div class="prices__reward">
                    Certificado de finalización
                </div>
            </article>

            <article class="prices__box">
                <div class="pricess__subtitle">
                    <span class="prices__text">Premium</span>
                </div>
                <div class="prices__price">
                    <span class="prices__number">$50</span>
                    <small class="prices__advice">Al mes</small>
                </div>
                <div class="prices__buy">
                    <a href="#" class="prices__btn">
                        prueba gratis
                    </a>
                </div>
                <div class="prices__reward">
                    Cinco de cursos de desarrollo web
                </div>
                <div class="prices__reward">
                    Soporte a pregutnas y dudas prioritario
                </div>
                <div class="prices__reward">
                    Certificado de finalización
                </div>
            </article>

        </div>
    </section>
    <section class="about__extra">
        <header class="extra__header">
            <h2 class="extra__title">Información <span class="title__color">Extra</span></h2>
        </header>

        <div class="extra__container">
            <article class="extra__info">
                <i class="extra__icon fa-solid fa-heart"></i>
                <h4 class="extra__subtutitle">Alumnos contentos</h4>
                <span class="extra__quantity">375,000</span>
            </article>

            <article class="extra__info">
                <i class="extra__icon fa-solid fa-clock"></i>
                <h4 class="extra__subtutitle">Horas de contenido</h4>
                <span class="extra__quantity">800</span>
            </article>

            <article class="extra__info">
                <i class="extra__icon fa-solid fa-star"></i>
                <h4 class="extra__subtutitle">Puntuación</h4>
                <span class="extra__quantity">9.98</span>
            </article>
        </div>
    </section>

</div>