/*DEFINICION DE VARIABLES*/
:host {
    display: block;
    overflow: auto ; /*para poner el scroll*/ 


  }

:root{
    --color-principal: #FFFFFF;
    --color-segundary: #07b3df;
    --color-background: #F2F7F9;
    --color_transparent:  transparent;
    
    --color-icon: #B5B6B7;
    --color-subtitule: #888;
    --color-title: #222222;
    --color-text:#555;

}

.content__about{
    // display: block ;
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem; 
    // overflow: auto ; /*para poner el scroll , pero no lo tomó aqui, asi que lo puse mas afuera*/
    
}

