/*DEFINICION DE VARIABLES*/
:root{
    --color-principal: #FFFFFF;
    --color-segundary: #07b3df;
    --color-background: #F2F7F9;
    --color_transparent:  transparent;
    
    --color-icon: #B5B6B7;
    --color-subtitule: #888;
    --color-title: #222222;
    --color-text:#555;

}

/*ESTILOS GENERALES*/
html{
    font-size: 10px;/*definion de un rem para el escalado*/
}

body{
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;/*viene siendo 15 px por lo que se declaro en el html ene l font sixe*/
    background-color: var(--color-background);
    color: var(--color-text);
    overflow: hidden;/*para que no haya scroll*/
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-title);
}

/*IMAGEM DE FONDO*/
body{
    /* background: black; */
    background-image: url("/assets/img/fondo.png");
    background-size: cover;/*para adaptar la imagen a la pantala*/
    background-repeat: no-repeat;
    background-position: -20px -120px;/*para posiciones una imagen de fondo */
}

/*LAYOUT O ESTRUCTURA PRINCIPAL*/

.layout{
    position: relative;/*para que se comprote la caja cpompleta*/
    min-width: 1290px; /*anchura minia*/
    width: 75%;
    height: 80vh;/*con respecto a la pantalla 80%*/
    min-height: 80vh;
    margin: 10vh auto; /*para central el contendio pero con 10hv le esto mentiendo margen para centrarlo vertical y horixontsl*/

    display: grid;
    grid-template-areas: 
                        "aside content";
    grid-template-columns: 30% 70%;


    /* border: 1px solid red; */

    /*sombre destras del layout*/
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgb(0, 0, 0, 0.25);/*100 pixeles de difuminado y en X y Y en cero con opaciodad del 25% el sombreado*/
    /*overflow: hidden;par que el contenido no se salga por si hay iamgenes esquinadas y sobre salen de la caja q*/ /*lo comentamos porque en body acomodamos la imgen al tamaño de l apantala*/
}

/*BARRA LATELRA AZUL*/

.layout__aside{
    grid-area: aside;

    border-radius: 4rem 0 0 4rem;
    overflow: auto;/*por si llega a aver un scroll cuando la pagina se haga mas peqpue*/
    overflow-x: hidden; /*todo lo que sobresalga de una caja lo oculta ,  va a ser ocultado (o se adatpta a la caja (grid))*/ /*como en el la etiqueta .layout*/

}

.aside__user-info{
    display: flex; /*para que se posicionen al lado*/
    flex-direction: column; /*pero esto ahce que se hagan uno abajo de otro  */
    align-items: center;/*ya que los enlaces los estamos manejando como cajas*/
    text-align: center;

    min-height: 100%;/*para que ocupe el 100% de la caja en vertical*/
    min-width: 30rem;

    background-color: var(--color-segundary);
    color: var(--color-principal);
}
a{
    color: var(--color-principal);
}


.user-info__container-image{
    position: relative;
    display: inline-block;/*para que funcione como bloque*/
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;/*esto es capa uno*/
    /* overflow: hidden;todo lo que sobresalga de una caja lo oculta */
}

.user-info__image{
    width: 100%;
    background-color: var(--color-principal);/**/
    border: 3px solid var(--color-principal);
    border-radius: 20rem;
}

/*todo lo estetico debe ser creado con css que no sea coentenido de la pagina web*/
/*se le llama seudoelementos visuales*/
.user-info__container-image::after{/*para agregar un hijo despues de la iamgen*/
    content: "";
    position: absolute;/*para que no haga uso del pagina*/
    top: 5%;
    left: 9%;
    z-index: -1;/*esto ahce qie se posiciones detras de la caja que tienen 1 */
    border-radius: 30rem;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center,#fff,#fff 1px, transparent 0px, transparent 100% );/*para hacer degradados*/
    background-size: 0.6rem 0.6rem;
    border-radius: 30rem;
    opacity: 0.4;
}

.user-info__name{
    font-size: 3.2rem;
    color: var(--color-principal);
    margin-top: 2.6rem;

}

.user-info__job{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color-principal);
}



.user-info__links{
    margin-bottom: 3.6rem;
}

.links__social{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;/*para que funcione como fila*/


}

.social__option{
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;/*parar alinearlos*/
    opacity: 0.9;
    border-radius: 3rem;
    /* transition: all 300ms linear;a todas la propiedades le aplica la transcion */
    transition: all 300ms ease-in-out;/*a todas la propiedades le aplica la transcion*/
}

.social__option:hover{
    opacity: 1;
    background-color: rgb(255, 255, 255, 0.20);

}

.user-info__buttons{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.user-info__btn{
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--color-principal);
    border-radius: 3.2rem;
    color: var(--color-principal);
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .22); /*difuminado*/
    transition: all 300ms ease-in-out; /**/
}

.user-info__btn:hover{
    background-color: var(--color-principal);
    color: var(--color-segundary);
}

.user-info__footer{
    position: absolute;
    bottom: 2rem;  /**para que se quede fijo sin importar el tamaño de la apgina**/
    font-size: 1.2rem;
}

/*CONTENEDOR PRINCIPAL*/

.layout__content{
    grid-area: content;
    height: 100%;/*Parar que siempre tenga el mismo tamaña*/
    min-height: 100%;/*lo mismo*/
    background-color: var(--color-segundary);/*lo ponemos de azul todo el fondo como el primero grid, esto será el fondo del routing*/
    border-radius: 0  10rem 10rem 0;
}

.content__page{
    min-height: 100%; /*que ocupe todo el espacip*/
    background-color: var(--color-principal); /*lo ponemos blanco, para sopbre ponerl del layout__content y que se vea unico con el ide__user-info*/
    border-radius: 3rem; /*damos bordeado*/
    
    display: flex;/*para organizar el contendio de dentro con flexibilidad*/
    flex-direction: column; /*para tener los flex en columna*/
    align-items: center; /*verticalmente al centel*/
    justify-content: center;/*horizonralmente al centro*/
}


/*MEMU NAVEGACION LATERAL*/
.layout__menu{
    /* display: none; esto lo oculta */
    display: block; /*aunque no se ponga ya viene default*/
    position: absolute;/*para posicicionarlo donde queramos*/
    top: 0;
    right: -105px;
    min-width: 11rem;

    background-color: var(--color_transparent);
}

.menu__list{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    

    background-color: var(--color-principal);
    width: 60%;
    min-height: 32rem;
    padding: 2rem 0; /*los premero toma el paddign de arriba y abajo y els egundo numero el de los laods*/
    margin-left: 2.5rem;
    box-shadow: 0 0 3rem -0.5rem rgb(0, 0, 0, 0.15);
    border-radius: 6rem;
}

.menu__icon{
    color: var(--color-icon);
    font-size: 2.8rem;

}

.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}

.menu__option:hover .menu__icon{/*cuando pasemos el mouse, que cambie el color de menu__icon que esta dentro de menu__option*/
    color: var(--color-segundary);
    transition: all 300ms ease-in-out;
}

.menu__overlay{
    position: absolute; /*para posicicionarlo donde queramos y ya darle formato*/
    right: 0;
    margin-top: -3rem;/* debemos posicionarlo jussto en los iconos, para despues ocultar el texto detras*/
    display: block;/*para que se vea, aunque no se ponga ya va por default en todo*/
    opacity: 0;/*que no se vea, y con la animancion de abajo, que cambie y aparexca*/
    padding: 0.5rem 1rem;
    display: block;
    color: black;
    background-color: var(--color-segundary);
    white-space: nowrap;/*para que no haya salto de linea en los texto*/
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__overlay{
    opacity: 1;
    right: 100%;/*posicion a la izquiera*/
}